---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://4d76bc53-4b04-42d5-9c61-42a9404bae04.au-mel-2-gw.linodelke.net:443/api/v1/nodes
    method: GET
  response:
    body: |
      {"kind":"NodeList","apiVersion":"v1","metadata":{"resourceVersion":"608"},"items":[]}
    headers:
      Audit-Id:
      - b614e75f-cd40-49b4-ba2b-00e193f51320
      Content-Type:
      - application/json
      X-Kubernetes-Pf-Flowschema-Uid:
      - f060c292-e62a-4eb7-9675-182888aa8231
      X-Kubernetes-Pf-Prioritylevel-Uid:
      - 74920857-3f6d-411f-815b-867c5ad2e8a4
    status: 200 OK
    code: 200
    duration: ""
